* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
   background: rgba(27, 6, 66, 1), rgba(48, 18, 101, 1), rgba(47, 21, 94, 1), rgba(48, 18, 101, 1), rgba(27, 6, 66, 1);
}

header {
    display: flex;
    flex-direction: column;
    padding: 44px;
    gap: 20px;
    align-items: center;
}
.header-nav {
    background-color: rgb(5, 5, 54);
    border: 1px solid #D6D9DD;
    padding: 12px 16px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1107px;
    height: 80px;
    align-items: center;
    border-radius: 21px;
}
.logo{
    width: 130.382px;
    height: 31px;
    flex-shrink: 0;
}
.nav-list {
    display: flex;
    gap: 56px;
}
.header-nav-btn{
    border-radius: 11px;
    color: cornsilk;
    background-color: rgba(0, 0, 0, 1) ;
    width: 94px;
    height: 40px;
    flex-shrink: 0;
}
.header-text{
    max-width:1033px;
    max-height: 160px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
}