* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.header-nav {
    border: 1px solid #D6D9DD;
    padding: 12px 16px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 680px;
    align-items: center;
    border-radius: 1rem;
}

.nav-list {
    display: flex;
    gap: 56px;
}

header section {
    padding-top: 120px;
    padding-left: 132px;
    padding-right: 132px;
    padding-bottom: 80px;
    border-radius: 20px;
    background-image:  url('../assets/bg.png'), linear-gradient(160deg, rgba(18, 114, 227, 1), rgba(0, 34, 73, 1));
    margin-bottom: -10rem;
}

.header-title {
    font-size: 75px;
    color: white;
    text-align: center;
    line-height: 1;
    margin-bottom: 40px;
}

.header-title .badge {
    display: inline-flex;
    padding: .25rem;
    color: transparent;
    background-color: #202020;
    border-radius: 20px;


} 

.header-title .badge span {
    background-image: linear-gradient(180deg, #5CBFEA 28%, #002332 129.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1rem;
}
.header-decription {
    color: #C3C3C3;
    text-align: center;
    font-size: 24px
}
.header-nav-btn{
    background-color: #002332;
    color: cornsilk;
}
.text-span{
    color: aliceblue;
}
.header-btn .badge {
    border-radius: 999px;
    border: 3px solid #106E19;
    padding: 4px;
    background-color: #2A6A30;
}
.header-btn .badge div {
    background-color: #00FF47;
    border-radius: 999px;
    height: 12px;
    aspect-ratio: 1/1;
    text-align: center;
}

.header-btn {
    display: flex;
    font-size: 18px;
    gap: 24px;
    font-weight: medium;
    text-transform: capitalize;
  
}

main {
    background-color: #212223;
    padding-top: 15rem;
}
.flex{
    display:flex ;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
    padding-top: 2rem;
}
.redio-shaddow{
    border-radius:2px solid 9999px;
}
.btn-shaddow{
    text-align: center; 

}