* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
}

.page header {
    background-color: #FE9E9E;
}

.flex {
    display: flex;
}
.justify-between {

    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.container {
    max-width: 1340px;
    padding: 18px 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 36px;
    line-height: 1.2225;
}

.logo, .nav-link {
    text-decoration: none;
    color: black;
}
.nav-link, .btn-primary {
    font-size: 1.25rem;
    padding: .75rem .5rem;
}
.btn-primary {
    border:none;
    border-radius: .75rem;

    background-color: #F86161;
    color: white;
}
.gap-1\.25rem {
    gap: 1.25rem;
}

aside {
 background-color: #ececec;
 min-width: 20rem;
}
main {
    background-color: #F0CBCB;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;   
}

.gap-7\.5rem {
    gap: 7.5rem;
}

footer {
    min-height: 200px;
    background-color: #C96565;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}