* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.header-nav {
    border: 1px solid #D6D9DD;
    padding: 12px 16px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 680px;
    align-items: center;
    border-radius: 1rem;
    
}
.nav-link{
    color: #6F6F6F;
    text-decoration: none;
}
.nav-list {
    display: flex;
    gap: 56px;
}

header section {
    padding-top: 120px;
    padding-left: 132px;
    padding-right: 132px;
    padding-bottom: 80px;
    border-radius: 20px;
    background-image:  url('../assets/bg.png'), linear-gradient(160deg, rgba(18, 114, 227, 1), rgba(0, 34, 73, 1));
    margin-bottom: -10rem;
}

.header-title {
    font-size: 75px;
    color: white;
    text-align: center;
    line-height: 1;
    margin-bottom: 40px;
}

.header-title .badge {
    display: inline-flex;
    padding: .25rem;
    color: transparent;
    background-color: #202020;
    border-radius: 20px;
} 

.header-title .badge span {
    background-image: linear-gradient(180deg, #5CBFEA 28%, #002332 129.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1rem;
}
.header-decription {
    color: #C3C3C3;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
.header-nav-btn{
    border-radius: 8px ;
    background-color: #002332;
    color: cornsilk;
}
.text-span{
    color: aliceblue;
}
.header-btn .badge {
    border-radius: 999px;
    border: 3px solid #106E19;
    padding: 4px;
    background-color: #2A6A30;
    flex-direction: column;
}
.header-btn .badge div {
    background-color: #00FF47;
    border-radius: 999px;
    aspect-ratio: 1;
    height: 12px;
    text-align: center;
}


.header-btn {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 79px;
    padding-left: 53px;
    border-radius:15px;
    font-size: 18px;
    gap:24px;
    text-transform: capitalize;
    display: flex;
    margin-left: auto;
    margin-right: auto
}
.header-btn1{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 79px;
    padding-left: 53px;
    border-radius:15px;
    font-size: 18px;
    gap:24px;
    text-transform: capitalize;
    display: flex;
    margin-left: auto;
    margin-right: auto 
}
.badge0{
    background-color: #270bc7;
    border-radius: 999px;
    border: 8px solid #270bc7;
    box-shadow: 2px -1px 8px 2px #270bc76f;
    padding: 8px;
    flex-direction: column;
}

main {
    background-color: #212223;
    padding-top: 15rem;
}
.flex{
    display:flex ;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
    padding-top: 2rem;
}
.redio-shaddow{
    border-radius: 999px;
    color:rgba(16, 162, 243, 1) ;
}
.btn-shaddow{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 18px;
    text-transform: capitalize;
    
}
.card{
    border-radius: 14px;
    border: 1.5px solid #868687;
    background: #202020;
    box-shadow: -6px 6px 19px 0px rgba(0, 0, 0, 0.39), -23px 26px 35px 0px rgba(0, 0, 0, 0.34), -52px 58px 47px 0px rgba(0, 0, 0, 0.20), -93px 103px 56px 0px rgba(0, 0, 0, 0.06), -145px 161px 61px 0px rgba(0, 0, 0, 0.01);
    padding:15px 14px ;
    max-width: 354.748px;
    flex-shrink: 0;
    text-align: center;
}
.section1{
    justify-content:center;
    display: flex;
    padding-top: 66px;
    padding-bottom: 205px;
    gap: 1rem;
}
.card-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.2px;
    background: linear-gradient(180deg, #FFF 26.67%, rgba(255, 255, 255, 0.00) 195%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.helper{
    flex-shrink: 0;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
}
.helper .title  {
    background: linear-gradient(144deg, #5CBFEA 18.71%, rgba(0, 194, 255, 0.00) 85.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description{
    max-width: 169px;
    color: #e0e0e4;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
}
.card-description{
    flex-shrink: 0;
    color: #BCBCBD;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.testimonals{
    color: #FFF;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.badge{
    color: #1272E3;
   
}
.badge1{
    max-width: 1440px;
    height: 50px;
    border-radius: 80px 80px 0px 0px;
    background-image: linear-gradient(156deg, #1272E3 8.25%, #002249 162.41%);
    margin-top: -3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

