* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgba(26, 26, 26, 1); 
}
.flex {
    display: flex;
}
.logo{
 padding: 22px 125px ;
}
.nav {
    gap: 3rem;
    padding-top:35px;
    padding-bottom:25px;
}
.nav-link {

    padding:41px 17px 48px 829px 0.5px ;
    font-size:14px;
    color: rgb(248, 242, 242);
    text-decoration: none;
}
.nav-link1{
    border-radius: 2px;
    border-color: aliceblue;
    color: aliceblue;
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.justify-between {
    justify-content: space-between;
  
}
h1 {
    text-align: center;
    color: aliceblue;
    font-size: 80px;
}
.border-r{
    padding: 271px 172px;
    color: white;
    font-weight: 700;
    font-size: 72px;
}
.bg-red{
    background-color: #FF9142;
}

p {
    color: rgb(128, 128, 124);
    font-size: 20px;
}
.size{
    text-align: right;
    font-weight:bold;
    padding:  81px 624px;
    font-size:64px;
    
}
.svg{
padding: 454px 506px 831px 836px;
border-radius: 30px

}
.size0{
    padding:625px 84px;
    color: #A8A8A8;
    font-size:18px;
    font-weight: 400;
}
.gap-7\.5rem {
    gap:7rem;
}
.gap-7rem{
    gap:10rem
}
.div,.dov{
    text-align: end;
    padding-bottom: 2px;
}
h2,p {
    padding-bottom: 10px;
}
.padding-1{
    padding: 1440px ;
} 
.color{
    padding: 193px 38px;
    color: aliceblue;
}
.colo{
    font-weight: bold;
    font-size: 24px;
    background-color: black;
    padding:  29px  429px ;
    text-align: center;
    color: chocolate;
}
.centr{
    font-weight: bold;
    font-size: 64px;
    background-color: black;
    padding:  258px  77px ;
    text-align: center;
    color:white;
}
.gap-4rem {
    background-color: black;
    gap: 4rem;
}
.card {
    background-color: black;
    padding: 2rem;
    /* flex: 0 0 calc(33.333333334% - 8rem); */
    flex: 1 1 33.333333334%;
    min-height: 300px;
}
.coloo {
    background-color: black;
    color: aliceblue;
    font-size: 40px;
}
.colo1{
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}



.project-item {
    flex-basis: 50%;
}

.w-full {
    width: 100%;
}

.gap-2rem {
    gap: 2rem;
}

.explore-btn {
    border: 1px solid #FF9142;
    border-radius: 9999px;
    padding: 25px 48px;
    color: white;
    font-weight: bold;
    display: flex;
    gap: 1.75rem;
    align-items: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.projects-title {
    margin-bottom: 3.75rem;
}
.explore-btn1 {
    border: 2px solid #d2e3e3;
    border-radius: 9999px;
    padding:17px 60px ;
    color: #d2e3e3;
    font-weight: 700;
    display: flex;
    align-items: center;
} 
.mx-auto1{
    margin-left: 138px;
    margin-right: 40px;
}
.bg-black {
    background-color: black;
    padding:auto;
}