* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(26, 26, 26, 1);
}

.flex {
    display: flex;
}

.border-949494 {
    border-color: #949494;
}

.py-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    color: rgb(116, 109, 109);
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 47px;
    padding-right: 47px;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.explore-btn {
    border: 2px solid #d2e3e3;
    border-radius: 9999px;
    padding: 17px 60px;
    color: #d2e3e3;
    font-weight: 700;
    background-color: transparent;
}

.gap-40px {
    gap: 40px;
}

.text {
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;

}

.text-big {
    font-size: 18px;
    font-weight: medium;
    color: rgba(148, 148, 148, 1);
}

.pt-150px {
    padding-top: 150px;
}

.img-float {
    padding: 0;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-90px {
    margin-bottom: 90px;
}

.boxes-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 47px;
    padding-right: 47px;
    text-align: center;
    /* padding-top: 4rem;
    padding-bottom: 4rem;*/
}

.text-white {
    color: white;
}

.text-d2e3e3 {
    color: #d2e3e3;
}

.gap-4rem {
    gap: 4.5rem;
}

.text-80px {
    font-weight: bold;
    font-size: 80px;
}

.text-line-84px {
    line-height: 84px;
}

.text-line-40px {
    line-height: 40px;
}

.text-end {
    text-align: end;

}

.gap-28px {
    gap: 28px;
}

.w-full {
    width: 100%;
}

.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-\[750\/1111\] {
    flex-grow: calc(750 / 1111);
}

.flex-grow-\[361\/1111\] {
    flex-grow: calc(361 / 1111);
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.top-0 {
    top: 0;
}

.left-47px {
    left: 47px;
}
.bottom-0 {
    bottom: 0;
}
.right-47px {
    right: 47px;
}
.-translate-1\/2 {
    transform: translate(-50%);
}
.translate-y-1\/2 {
    transform: translateY(50%);
}
.h-full {
    height: 100%;
}
/* .aspect-\[750\/515\] {
    aspect-ratio: 1.4563106796116505;
} */
.pd-7rem {
    padding: 56px;
}

.text-21px {
    font-weight: 400;
    font-size: 21px;
}

.sizefont {
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    text-align: start;
}

.font-sz {
    font-weight: bold;
    font-size: 32px;
}

.gap-rem {
    gap: 9rem;
}

.pd-6 {
    color: rgba(148, 148, 148, 1);
    padding: 39px 65px;
}

.colo {
    font-weight: bold;
    font-size: 24px;
    background-color: black;
    padding: 69px 429px;
    text-align: center;
    color: chocolate;
}

.centr {
    font-weight: bold;
    font-size: 64px;
    background-color: black;
    padding: 77px 350px;
    text-align: center;
    color: white;
}

.coloo {
    background-color: black;
    color: aliceblue;
    font-size: 40px;
}

.colo1 {
    padding-bottom: 50px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

.bg-black {
    background-color: black;
    padding: auto;
}

.card1 {
    background-color: black;
    padding: 2rem;
    /* flex: 0 0 calc(33.333333334% - 8rem); */
    flex: 1 1 33.333333334%;
    min-height: 300px;
}

.gap {
    background-color: black;
    gap: 30px;
}